*{
    padding: 0px;
    margin: 0px;
}
body{
   background-color: lightgray;
    width:100%;
}
#main{
    display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding-top:10px;
}
#img-div{
    background-color: white;
    padding:10px;
    margin:15px;
}
#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    
}
figcaption{
    margin-top:8px;
    text-align: center;
}
#headline{
    margin:50px 0px;
    text-align: center;
}
ul{
    max-width:550px;
    margin:0px auto 50px auto;
}
li{
    margin: 16px 0px;
}
#tribute-info p{
    font-style: italic;
    max-width:550px;
    margin: auto;
}
#tribute-info h3{
    max-width:850px;
    text-align: center;
    margin: auto;
    margin-top:50px;
}

@media (max-width:550px){
     ul li {
       max-width:300px;
       margin: auto;

    }
    #tribute-info p{
        max-width:350px;
        margin: auto;
    }
    #tribute-info h3{
        max-width:350px;
        margin: auto;
    }
}
